@each $name, $color in $plain-ui__colors {
    .text-color-#{$name} {
        color: var(#{$color});
    }
}

@each $name, $color in $plain-ui__colors {
    .fill-#{$name} {
        fill: var(#{$color});
    }
}

@each $name, $color in $plain-ui__colors {
    .border-color-#{$name} {
        border-color: var(#{$color});
    }
}

@each $name, $color in $plain-ui__colors {
    .background-color-#{$name} {
        background-color: var(#{$color});
    }
}