/**
 *
 *
 *
 *
 */

.border {
    border: $border;
}

.border-round {
    border-radius: $border-radius;
}

.border-0 {
    border: 0;
}

.radius-0 {
    border-radius: 0;
}

.round {
    border-radius: 50%;
}

/**
 *  z-index
 *
 *
 */

$z-index: 20;

@for $i from 1 through $z-index {
    .z-index-#{$i} {
        z-index: $i;
    }
}

/**
 *  floating
 *
 *
 */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    @include clearfix();
}

/**
 *  position
 *
 *
 */

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed !important;
}

.relative {
    position: relative !important;
}

/**
 *
 *
 */

.vertical-align-bottom {
    vertical-align: bottom;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-baseline {
    vertical-align: baseline;
}

/**
 *
 *
 */

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.object-fit-cover {
    object-fit: cover;
}