/**
 *
 *
 *
 *
 */

.border {
    border: $plain-ui__border !important;
}

.border-round {
    border-radius: $plain-ui__border-radius;
}

.borderless {
    border: 0 !important;
}

.radiusless {
    border-radius: 0 !important;
}

    /**
     *  z-index
     *
     *
     */

    $plain-ui__z-index: 10;

    @for $i from 1 through $plain-ui__z-index {
        .z-index-#{$i} {
            z-index: $i;
        }
    }

    /**
     *
     *
     */

    .round {
        border-radius: 50%;
    }

    /**
     * typography
     *
     *
     */

    .left {
        text-align: left !important;
    }

    .right {
        text-align: right !important;
    }

    .center {
        text-align: center !important;
    }

    .justify {
        text-align: justify !important;
    }

    .uppercase {
        text-transform: uppercase !important;
    }

    .lowercase {
        text-transform: lowercase !important;
    }

    .crossed {
        text-decoration: line-through !important;
    }

    .underline {
        text-decoration: underline !important;
    }

    .capitalize {
        text-transform: capitalize !important;
    }

    .italic {
        font-style: italic !important;
    }

    .light {
        font-weight: lighter !important;
    }

    .normal {
        font-weight: normal !important;
    }

    .medium {
        font-weight: medium !important;
    }

.bold {
    font-weight: bolder !important;
}

@each $name, $font-size in $plain-ui__font-sizes {
    .t-size-#{$name} {
        font-size: $font-size !important;
        //@include plain-ui__breakpoints-font-size($plain-ui__font-size-breakpoints, $font-size, getDefault($plain-ui__font-sizes), true);
    }
}

/**
 *  floating
 *
 *
 */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    @include plain-ui__clearfix();
}

/**
 *  position
 *
 *
 */

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed !important;
}

.relative {
    position: relative !important;
}

/**
 *
 *
 */

.vertical-align-bottom {
    vertical-align: bottom;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-baseline {
    vertical-align: baseline;
}

.marginless {
    margin: 0 !important;
}

/**
 *
 *
 */

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.object-fit-cover {
    object-fit: cover;
}