/**
 *
 *
 *
 *
 */

@mixin plain-ui__component__bar()
{
    .bar {
        display: flex;

        height: 2.8em;
        background-color: $plain-ui__primary-light;
        color: white;

        .icon {
            font-size: 1.5rem;
        }

        &__start {
            justify-content: start;
        }

        &__main {
            width: 100%;
        }

        &__end {
            justify-content: end;
        }

        &__start, &__main, &__end {
            display: flex;
            align-self: center;
            margin-left: 0.75em;

            &:last-child {
                margin-right: 0.75em;
            }
        }
    }
}