/**
 *
 *
 *
 *
 */

@mixin plain-ui__component__group()
{
    .group {
        &__item {
            width: auto;
            display: inline-block;
            margin: 0 1em 1em;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}