/**
 *
 *
 *
 *
 */

@mixin plain-ui__component__icon() {
    .icon {
        width: 1em;
        height: 1em;

        max-height: 100%;
        max-width: 100%;

        vertical-align: middle;
        overflow: hidden;

        font-size: 1.4rem;

        fill: $plain-ui__primary-light;
    }

    .icon--success {
        fill: $plain-ui__success-light;
    }

    .icon--danger {
        fill: $plain-ui__danger-light;
    }
}