/**
 *
 *
 *
 */

.panel {
    border: 1px solid var(--border);
    border-radius: $plain-ui__border-radius;
    background-color: var(--background-secondary);

    &__body {
        padding: $plain-ui__padding;
        @include media-breakpoints('padding', $plain-ui__padding-breakpoints);
    }

    &--border-highlight {
        border-left-width: 12px;
    }
}