/**
 *  <div class="slider">
 *      <div class="slider__inner">
 *          <div class="slider__item w-10"></div>
 *      </div>
 *  </div>
 *
 */

@mixin plain-ui__component__slider()
{
    .slider {
        position: relative;
        overflow-x: visible;

        &__inner {
            display: flex;
            white-space: nowrap;
        }

        &__item {
            padding: 0 .6em;
            display: inline-block;
            white-space: normal;
            flex-shrink: 0;
        }
    }
}