/**
 *
 *
 *
 */

@mixin plain-ui__component__tabs()
{
    .tabs {
        display: block;
        width: 100%;

        @include plain-ui__media-sm() {
            display: flex;
            width: auto;
        }

        &__item {
            height: 100%;

            display: flex;
            align-items: center;
            padding: 0 1em;

            background-color: white;
            transition: background-color 0.1s;

            background-color: white;
            color: $plain-ui__primary-light;

            border: 1px solid $plain-ui__primary-light;
            border-bottom-width: 0;

            width: 100%;

            @include plain-ui__media-sm() {
                width: auto;
                display: inline-flex;
                border-right-width: 0;
                border-bottom-width: 1px;
            }

            &:hover, &--selected {
                cursor: pointer;
                background-color: lighten($plain-ui__primary-light, 10%);
                color: white;

                border-color: lighten($plain-ui__primary-light, 10%);
            }

            &:last-child {
                border-bottom-width: 1px;
            }
        }
    }
}